/*
**************************
        description
**************************
*/
/*
************END***********
*/

/*
**************************
        general
**************************
*/
* {
  font-family: "Shadows Into Light Two", "comic sans", "Segoe UI", Tahoma,
    Geneva, Verdana, sans-serif;
  letter-spacing: 2px;
}

body {
  background-image: url(../main/img/backgrounddonut.jpg);
  background-attachment: fixed;
  padding: 150px 0px 0px 0px;
}

.loading {
  font-family: "Shadows Into Light Two", "comic sans", "Segoe UI", Tahoma,
    Geneva, Verdana, sans-serif;
  color: #ffd521;
  text-align: center;
  font-size: 10vw;
  font-weight: bold;
  text-shadow: 0px 0px 7px rgb(0, 0, 0);
  letter-spacing: 2px;
}

.message {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  backdrop-filter: blur(5px);
}

/*
************END***********
*/

/*
**************************
         header
**************************
*/
.containerHeader {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 10px;
  padding: 0px 0px 10px 0px;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  box-shadow: 0 -10px 8px 0px #88d5ff00 inset;
  backdrop-filter: blur(5px);
}

.containerHeader h3 {
  margin: 0px;
  font-size: 16px;
  color: #ffd521;
  text-shadow: 0px 0px 7px rgb(0, 0, 0);
  align-self: flex-end;
}

input,
input:focus-visible {
  border: #ffd521 2px solid;
  border-radius: 5px;
  padding: 5px 20px;
  box-shadow: 0px 0px 15px 0px rgb(0, 0, 0);
  min-width: 180px;
  width: 70%;

  margin: 0px 20px 0px 20px;
}

.dropdown label {
  padding-right: 5px;
  color: #ffd521;
  font-weight: bold;
  text-shadow: 0px 0px 7px rgb(0, 0, 0);
}

.dropdown select,
.dropdown select:focus-visible {
  border: #ffd521 2px solid;
  border-radius: 5px;
  padding: 5px 10px;
  font-weight: bold;
  letter-spacing: 3px;
}

/*
************END***********
*/
/*
**************************
        title
**************************
*/
h1 {
  text-align: center;
  font-size: 12vw;
  font-family: "Simpsons", "Brush Script MT", "Garamond", "Verdana";
  color: #ffd521;
  margin: 0px;
  -webkit-text-stroke: 0.5px black;
}
/*
************END***********
*/
/*
**************************
      CharacterCards
**************************
*/
img {
  height: 100px;
}

.fav {
  background-color: yellow;
}

.containerQuote {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.left {
  flex-direction: row-reverse;
  justify-content: flex-end;
}

h2 {
  margin-top: 0px;
  font-family: "Simpsons", "Brush Script MT", "Garamond", "Verdana";
  letter-spacing: 3px;
}

.characterCard {
  background-color: lightyellow;
  border: #ffd521 5px solid;
  border-radius: 20px;
  margin: 20px;
  padding: 20px 20px 10px 20px;
  max-width: 370px;
  transition: all 0.2s ease-in;
  position: relative;
}

.close {
  text-align: center;
  margin: 0px;
  margin-left: 1px;
  font-weight: bold;
  color: white;
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  letter-spacing: 0px;
}

.containerClose {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 10px;
  width: 25px;
  height: 25px;
  background-color: rgb(247, 84, 84);
  border-radius: 50%;
  cursor: pointer;
}

.thumbsup {
  height: 30px;
  display: block;
  margin-left: auto;
  cursor: pointer;
  margin-top: 5px;
}

.liked {
  background-color: rgb(145, 235, 145);
  border: #008b18 5px solid;
  transition: all 0.2s ease-in;
}
/*
************END***********
*/

/*
**************************
      media queries
**************************
*/
@media (min-width: 355px) {
  .containerHeader {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 10px 0px 10px 0px;
  }
  input,
  input:focus-visible {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  body {
    padding: 120px 0px 0px 0px;
  }

  .containerHeader h3 {
    align-self: center;
  }
}

@media (min-width: 479px) {
  .characterCard {
    margin: 20px auto 20px auto;
  }
}

@media (min-width: 500px) {
  .containerClose {
    top: 10px;
    right: 14px;
  }

  h1 {
    font-size: 10vw;
  }
}

@media (min-width: 645px) {
  .containerHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 20px 10px;
  }

  body {
    padding: 100px 0px 0px 0px;
  }

  h1 {
    font-size: 7vw;
  }

  input,
  input:focus-visible {
    width: auto;
    flex-basis: 30%;
  }

  .dropdown {
    margin-right: 20px;
  }

  img {
    height: 150px;
  }

  .characterCard {
    margin-bottom: -10px;
  }

  .characterCard h2 {
    margin-bottom: 10px;
  }

  .right img {
    margin-top: -20px;
  }

  .left + .thumbsup {
    margin-top: -20px;
  }
}

@media (min-width: 820px) {
  .containerHeader {
    gap: 5%;
  }

  input,
  input:focus-visible {
    width: auto;
    flex-basis: 40%;
    max-width: 300px;
  }

  h1 {
    font-size: 60px;
  }
}

@media (min-width: 870px) {
  .containerHeader,
  .containerHeader h3,
  input,
  select {
    font-size: 20px;
  }
}

@media (min-width: 1000px) {
  .containerCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1800px;
    margin: 0px auto;
  }

  .characterCard {
    width: 370px;
    margin: 20px;
  }

  .loading {
    color: #ffd521;
    text-align: center;
    font-size: 10vw;
    font-weight: bold;
    -webkit-text-stroke: 0.5px black;
  }

  .lds-roller div:after {
    border: black 1px solid;
  }
}

/*
************END***********
*/

/* .btn {
  background-color: lightyellow;
  border: #ffd521 2px solid;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.btn:hover {
  background-color: #ffd521;
  border: #eec200 2px solid;
  transition: all 0.2s ease-in;
} */
