.weatherItem {
  background-color: lightblue;
  margin: 20px;
}

img {
  height: 100px;
}

.fav {
  background-color: yellow;
}

.containerQuote {
  display: flex;
  align-items: center;
}

.left {
  flex-direction: row-reverse;
  justify-content: flex-end;
}

h2 {
  margin-top: 0px;
}

.characterCard {
  background-color: lightyellow;
  border: #ffd521 5px solid;
  border-radius: 20px;
  margin: 20px auto 20px auto;
  padding: 20px;
  max-width: 370px;
  transition: all 0.2s ease-in;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 14px;
  margin: 0px;
  font-weight: bold;
  color: #ffd521;
  cursor: pointer;
}

.off {
  display: none;
}

.thumbsup {
  height: 30px;
  display: block;
  margin-left: auto;
  cursor: pointer;
}

.liked {
  background-color: rgb(145, 235, 145);
  border: #008b18 5px solid;
  transition: all 0.2s ease-in;
}

.btn {
  background-color: lightyellow;
  border: #ffd521 2px solid;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.btn:hover {
  background-color: #ffd521;
  border: #eec200 2px solid;
  transition: all 0.2s ease-in;
}
